@using IndiaMirror.Dataclasses;
@{
    ViewData["Title"] = "View";
}

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark  bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">NewsDaily</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <Link class="nav-link  " aria-current="page" to="/">Home</Link>
                    </li>
                    <li class='nav-item'><a class='nav-link' href="/business"> Business</a></li>
                    <li class='nav-item'><a class='nav-link' href="/entertainment"> Entertainment</a></li>
                    <li class='nav-item'><a class='nav-link' href="/health"> Health</a></li>
                    <li class='nav-item'><a class='nav-link' href="/science"> Science</a></li>
                    <li class='nav-item'><a class='nav-link' href="/sports"> Sports</a></li>
                    <li class='nav-item'><a class='nav-link' href="/technology"> Technology</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class='container' style="margin-top: 55px;">
        <div class='row'>
            @foreach (Articles article in ViewBag.articles)
            {

                String author = article.author == null ? "UnKnown" : article.author;
                if (author.Length == 0)
                    author = "UnKnown";
                <div class='col-md-4'>
                    <div class='my-3'>
                        <div class="card">
                            <div style="display:flex; position:absolute; justify-content:flex-end; right:0">
                                <span class=" badge rounded-pill bg-danger" style="left:85%; z-index:1">
                                    @article.source.name
                                </span>
                            </div>
                            <img src=@article.urlToImage class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">@article.title</h5> Inbox
                                <p class="card-text">@article.description</p>
                                <p class="card-text">
                                    <small class="text-primary">
                                        By @author on @article.publishedAt
                                    </small>
                                </p>
                                <a rel="noreferrer" href=@article.url target="_blank" class="btn btn-sm btn-dark">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
    </div
</body>
